.form {
    height: 40vh;
    width: 30vw;
    background-color: #3ad886;
    margin: 30px
}

.inputs {
    display: flex;
    flex-direction: column;
}

input {
    margin: 10px;
}

.form-image {
    width: 25vw;
    height: 20vh;
}